@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.question-upload-container .ant-upload-select {
  width: 100% !important;
  max-width: 600px;
  height: 250px !important;
}

.question-upload-container .ant-upload-select img {
  width: 100% !important;
  height: 250px !important;
}

* {
  font-family: Roboto Mono, monospace !important;
}

/* Standard syntax */
@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
}